body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}


/*--------*/
/* Header */
/*--------*/
#header {
	padding: 30px 20px;
	background: #333333;
	color: #FFFFFF;
}

#header
li {
	display: inline;
	padding: 0px 14px 0 10px;
	border-right: 1px solid #FFFFFF;
	margin: 0;
}

#header
li:last-child {
	border-right: 0px;
}

#header
a {
	color: #FFFFFF;
	text-decoration: none;
}



/*--------*/
/* titles */
/*--------*/
.title1 {
	font-size: 30px;
	padding: 10px 0px;
	text-shadow: 0px 1px 0px #E5E5EE;
	font-family: Permanent Marker, sans-serif;
}

.title2 {
	font-size: 18px;
	padding: 10px 0 2px 0;
}

.title3 {
	font-size: 15px;
	padding: 2px 0 1px 10px;
}





#new_site_closed {
  color: #FFFFFF;
  padding: 0px 0px 0px 5px;
  width: 80px;
}

#new_site_opened {
  background: #333333;
  color: #FFFFFF;
  padding: 0px 0px 0px 5px;
  width: 80px;
}

#outer_new_site_box {
  position: relative;
}

#new_site_box {
  position: absolute;
  color: #FFFFFF;
  background: #333333;
  left: 0px;
  padding: 5px;
  z-index: 2;
}


.edit_task_box {
	position: absolute;
	z-index: 3;
	padding: 20px;
	background: #777777;
	border: 1px solid #CCCCCC;
}

.view_task_box {
	position: absolute;
	z-index: 3;
	padding: 20px;
	background: #777777;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
}





/*--------------*/
/* Tasks Styles */
/*--------------*/
.tasks_lists {
	min-height: 100px;
}

.tasks_lists
li {
	list-style-type: none;
	padding: 20px 15px;
	border: 1px solid #CFCFCF;
	background: #EFEFEF;
	margin: 5px 0;
	cursor: move;
	font-family: Ubuntu;
}


#new_task_form_wrapper {
	background: #BF0B12;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	position: absolute;
	right: 0px;
	bottom: 20px;
}

#new_task_form {
	padding: 10px;
	display: none;
}













a img {
  border: none;
}

a {
  color: #333333;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}











/*-------------------------*/
/* error and notice styles */
/*-------------------------*/



#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border-top: solid 1px #6C6;
  border-bottom: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}



/*--------------*/
/* forms styles */
/*--------------*/

.form_label
span {
	color: #FF0000;
	margin: 0 2px;
}

input,
textarea {
	border: 1px solid #CCCCCC;
	font-size: 13px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 5px 0 0 0;
}

input
.form_button {
	border: 1px solid #CCCCCC;
	font-size: 13px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #CCCCCC;
}

.form_button:hover {
	cursor: pointer;
	border: 1px solid #888888;
}

label {
	color: #FFFFFF;
}



/*-------------------------*/
/* right click menu styles */
/*-------------------------*/
.context-menu {
	border: 1px solid #CFCFCF;
	background: #EFEFEF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.context-menu
li {
	list-style-type: none;
	padding: 5px 10px;
	border-bottom: 1px solid #CFCFCF;
}

.context-menu
li:hover {
	background: #BF0B12;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.context-menu
li:hover
a {
	color: #FFFFFF;
}

.context-menu
li:last-child {
	border-bottom: 0px;
}

.context-menu
li:first-child:hover {
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

.context-menu
li:last-child:hover {
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

.context-menu
li
a {
	text-decoration: none;
}





/*----------*/
/* CSS GRID */
/*----------*/

/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* The 1140px Grid by Andy Taylor – http://cssgrid.net – http://www.twitter.com/andytlr – http://www.catchingzebra.com */

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1150px;
margin: 0 auto;
overflow: hidden;
background: #FFFFFF;
padding: 0px 10px;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
}

.onecol {
width: 4.85%;
}

.twocol {
width: 13.5%;
}

.threecol {
width: 22.15%;
}

.fourcol {
width: 30.8%;
}

.fivecol {
width: 39.45%;
}

.sixcol {
width: 48.1%;
}

.sevencol {
width: 56.75%;
}

.eightcol {
width: 65.4%;
}

.ninecol {
width: 74.05%;
}

.tencol {
width: 82.7%;
}

.elevencol {
width: 91.35%;
}

.twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

